 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .main-body{
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            background-color: rgb(246, 242, 242);
            box-shadow: 2px 2px 4px grey;
            border-radius: 12px;
            padding: 10px;
        }
        #top-form{
            display: flex;
            flex-direction: column;
        }
        .inputs{
            width:auto;
            margin: 8px;
            height: 30px;
            padding: 5px;
        }
        #btn{
            background-color: rgb(82, 160, 82);
            border: none;
            color: white;
            font-weight: 550;
            padding: 5px;
            border-radius: 5px;
        }
        #btn:hover{
            background-color: rgb(114, 180, 114);
        }
        #heading{
            font-weight: bolder;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        th {
            background-color: rgb(82, 160, 82);
            color: white;
            height: 30px;
            width: 10%;
            font-weight: 300;
        }
        td {
            height: 30px;
            width: 10%;
            font-weight: 300;
            padding: 8px;
        }
        table{
            border-collapse: 0.5px;
        }
